<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add
            name="Shrinkr"
            connectionString="Data Source=.\SQLExpress;AttachDbFilename=|DataDirectory|\App_Data\Shrinkr.mdf;Integrated Security=SSPI;User Instance=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient"
        />
    </connectionStrings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
                <bindingRedirect oldVersion="2.1.0.4000" newVersion="2.1.2.4000"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <startup>
        <requiredRuntime version="v4.0"/>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>