<connectionStrings>
    <add
        name="Shrinkr"
        connectionString="Data Source=.\SQLExpress;AttachDbFilename=|DataDirectory|\Shrinkr.mdf;Integrated Security=SSPI;User Instance=True;MultipleActiveResultSets=True"
        providerName="System.Data.SqlClient"
    />
</connectionStrings>