<shrinkr redirectPermanently="true" urlPerPage="5" baseType="BaseThirtySix">
    <api
        allowed="true"
        dailyLimit ="250"
    />
    <thumbnail
        apiKey="6e09fa79283da86fbe9ec55d09e4c18f"
        endPoint="http://images.pageglimpse.com/v1/thumbnails"
    />
    <google
        apiKey="ABQIAAAAfKRrX_jPbfPHAClbX8NI4BTxsIg1HmxPLrA8Wuv1kMxOqX-TQg"
        endPoint="http://sb.google.com/safebrowsing/update"
        phishingFile="~/App_Data/GoogleSafeBrowsing/phishing.xml"
        malwareFile="~/App_Data/GoogleSafeBrowsing/malware.xml"
    />
    <twitter
        userName="shrinkr"
        password="shrinkr"
        endPoint="http://twitter.com/direct_messages/new.xml"
        maximumMessageLength="140"
        messageTemplate="Possible spam: {alias} - {title}"
        recipients="manzurrashid,mosessaur"
    />
    <users>
        <add
            name="http://kazimanzurrashid.myopenid.com/"
            email="kazimanzurrashid@gmail.com"
            role="Administrator"
        />
        <add
            name="http://mosessaur.myopenid.com/"
            email="mohammed_moses@yahoo.co.uk"
            role="Administrator"
        />
    </users>
</shrinkr>