<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="shrinkr" type="Shrinkr.Infrastructure.SettingConfigurationSection, Shrinkr.Core" requirePermission="false"/>
        <section name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection" requirePermission="false"/>
        <sectionGroup name="elmah">
            <section name="security" type="Elmah.SecuritySectionHandler, Elmah" requirePermission="false"/>
            <section name="errorLog" type="Elmah.ErrorLogSectionHandler, Elmah" requirePermission="false"/>
            <section name="errorFilter" type="Elmah.ErrorFilterSectionHandler, Elmah" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings configSource="connectionString.config"/>
    <shrinkr configSource="shrinkr.config"/>
    <dotNetOpenAuth configSource="dotNetOpenAuth.config"/>
    <elmah>
        <security
            allowRemoteAccess="1"
        />
        <errorLog
            type="Elmah.XmlFileErrorLog, Elmah"
            logPath="~/App_Data/XmlExceptionLog"
        />
        <errorFilter>
            <test>
                <equal binding="HttpStatusCode" value="404" type="Int32" />
            </test>
        </errorFilter>
    </elmah>
    <uri>
        <idn enabled="All"/>
        <iriParsing enabled="true"/>
    </uri>
    <system.net>
        <connectionManagement>
            <add
                address="*"
                maxconnection="16"
            />
        </connectionManagement>
        <settings>
            <servicePointManager expect100Continue="false"/>
        </settings>
    </system.net>
    <system.web>
        <!--<trust level="Medium"/>-->
        <authentication mode="Forms">
            <forms name="ShrinkrLogin" path="/" protection="All" timeout="2880" slidingExpiration="true" loginUrl="~/LogOn"/>
        </authentication>
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
                <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            </assemblies>
        </compilation>
        <customErrors mode="On"/>
        <httpHandlers>
            <add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=1.1.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            <add verb="GET,HEAD" path="asset.axd" validate="false" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc"/>
            <add verb="POST,GET,HEAD" path="elmah.axd" validate="false" type="Elmah.ErrorLogPageFactory, Elmah"/>
        </httpHandlers>
        <httpModules>
            <remove name="WindowsAuthentication"/>
            <remove name="PassportAuthentication"/>
            <remove name="FileAuthorization"/>
            <remove name="AnonymousIdentification"/>
            <remove name="Profile"/>
            <remove name="ServiceModel"/>
            <remove name="RoleManager"/>
            <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
        </httpModules>
        <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-us" uiCulture="en-us"/>
        <machineKey validationKey="CE56C8154C2D6C1B3DBB0176212977497EA57C88" decryptionKey="9469457821A6CD09CDD744F29661B33924009F494AC9FF4A" validation="SHA1" decryption="3DES"/>
        <pages>
            <namespaces>
                <add namespace="System.Web.Mvc"/>
                <add namespace="System.Web.Mvc.Html"/>
                <add namespace="System.Web.Routing"/>
                <add namespace="Telerik.Web.Mvc"/>
                <add namespace="Telerik.Web.Mvc.UI"/>
                <add namespace="Shrinkr"/>
                <add namespace="Shrinkr.DomainObjects"/>
                <add namespace="Shrinkr.DataTransferObjects"/>
                <add namespace="Shrinkr.Web"/>
            </namespaces>
        </pages>
    </system.web>
    <location path="elmah.axd">
        <system.web>
            <authorization>
                <allow users="http://kazimanzurrashid.myopenid.com/, http://mosessaur.myopenid.com/"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <modules runAllManagedModulesForAllRequests="true">
            <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
        </modules>
        <handlers>
            <remove name="MvcHttpHandler"/>
            <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler"/>
            <remove name="AssetHandler"/>
            <add name="AssetHandler" preCondition="integratedMode" verb="GET,HEAD" path="asset.axd" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc"/>
            <remove name="Elmah"/>
            <add name="Elmah" preCondition="integratedMode" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
        </handlers>
    </system.webServer>
</configuration>