<dotNetOpenAuth>
    <openid>
        <relyingParty>
            <security requireSsl="false"/>
            <behaviors>
                <add type="DotNetOpenAuth.OpenId.Behaviors.AXFetchAsSregTransform, DotNetOpenAuth"/>
            </behaviors>
        </relyingParty>
    </openid>
    <messaging>
        <untrustedWebRequest>
            <whitelistHosts>
                <add name="localhost"/>
                <add name="shrinkr.com"/>
            </whitelistHosts>
        </untrustedWebRequest>
    </messaging>
</dotNetOpenAuth>